# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Windows resources
*.rc
*.ico

# QtCreator
*.user
*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

#Python
*.pyc

# CMake
/bin/
/build/

# make release scripts
/mpc-qt-*/
*.zip 
*.sha512

# transifex
.transifexrc

# Appimage
AppDir
*.AppImage

.cache
