name: Flatpak maker

on:
  [workflow_call]

jobs:
  flatpak:
    name: Build
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:kde-6.7
      options: --privileged
    steps:
      - name: Check out repository
        uses: sithlord48/fancy-checkout@v1.0.0

      - run: git config --global protocol.file.allow always

      - name: Get version
        run: |
          if [[ "$GITHUB_REF" == *"refs/heads/release/"* ]]; then
            echo "MPC-QT_PACKAGE_VERSION=$(echo $GITHUB_REF | sed 's,refs/heads/release/,,g')">> $GITHUB_ENV
          else
            echo "MPC-QT_PACKAGE_VERSION=continuous">> $GITHUB_ENV
          fi
      - uses: flatpak/flatpak-github-actions/flatpak-builder@master
        name: "Build"
        with:
          bundle: mpc-qt-${{env.MPC-QT_PACKAGE_VERSION}}-linux-x86_64.flatpak
          manifest-path: deploy/dist/flatpak/io.github.mpc_qt.mpc-qt.yml
          cache-key: flatpak-builder-${{ github.sha }}
          upload-artifact: false

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: mpc-qt-x86_64-Flatpak
          path: ${{github.workspace}}/mpc-qt[-_]*.flatpak
