name: Flatpak maker

on:
  [workflow_call]

jobs:
  flatpak:
    name: Build
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:kde-6.8
      options: --privileged
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Check out Flathub repository
        uses: actions/checkout@v4
        with:
          repository: 'flathub/io.github.mpc_qt.mpc-qt'
          path: flathub
      - name: Get version
        run: |
          if [[ "$GITHUB_REF" == *"refs/heads/release/"* ]]; then
            echo "MPC-QT_PACKAGE_VERSION=$(echo $GITHUB_REF | sed 's,refs/heads/release/,,g')">> $GITHUB_ENV
          else
            echo "MPC-QT_PACKAGE_VERSION=continuous">> $GITHUB_ENV
          fi
      - name: Prepare Flatpak manifest with modules from Flathub manifest
        uses: mikefarah/yq@v4.50.1
        with:
          cmd: |
            yq eval -i '
              .modules[0].modules = load("flathub/io.github.mpc_qt.mpc-qt.yml").modules[0].modules
            ' packaging/flatpak/io.github.mpc_qt.mpc-qt.yml
      - name: Move manifest to be with potential patches
        run: mv -f packaging/flatpak/io.github.mpc_qt.mpc-qt.yml flathub/io.github.mpc_qt.mpc-qt.yml
      - name: Build
        uses: flatpak/flatpak-github-actions/flatpak-builder@master
        with:
          bundle: mpc-qt-${{env.MPC-QT_PACKAGE_VERSION}}-linux-x86_64.flatpak
          manifest-path: flathub/io.github.mpc_qt.mpc-qt.yml
          cache-key: flatpak-builder-${{ github.sha }}
          upload-artifact: false
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: mpc-qt-x86_64-Flatpak
          path: ${{github.workspace}}/mpc-qt[-_]*.flatpak
