name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: install packages
      run: sudo apt-get -y install build-essential qmake6 qt6-base-dev qt6-l10n-tools libqt6svg6-dev libgl-dev libmpv-dev
    - uses: actions/checkout@v4
    - name: qmake
      run: qmake6 MPCQT_VERSION=GithubAction mpc-qt.pro
    - name: make
      run: make
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: "mpc-qt"
        path: bin/mpc-qt
  tests:
    name: Linux
    needs: build
    uses: ./.github/workflows/linux_tests.yml
